head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="language" content="en")
  block title
    title CR Zer0 :: Use your imagination
  meta(name='description' content="CRZer0 is a Dungeons and Dragons 5E Character sheet WebApp")
  meta(name="robots" content="index,follow")
  meta(name="revised" content="Sunday, June 5th, 2016, 5:07 pm")
  meta(name="author" content="Sean Loyless, loyless.sean@gmail.com")
  meta(name="url" content="http://crzer0.com/")
  meta(name="identifier-URL" content="http://crzer0.com/")
  meta(name="rating" content="General")
  meta(name="revisit-after" content="7 days")
  link(rel='stylesheet' href="style.css" media="screen, projection")

  link(rel="icon" href="content/favicon.ico")
  link(rel="shortcut icon" href="content/favicon.ico")
  link(rel="apple-touch-icon" href="content/apple-touch-icon.png")

  // Meta tags
  link(rel="index" href="http://crzer0.com/" title="CRZer0")
  link(rel="canonical" href="http://crzer0.com/")

  // Location tagging (Lat/Long)
  meta(name="ICBM" content="30.185744,-97.762242")
  meta(name="geo.position" content="30.185744,-97.762242")
  meta(name="geo.placename" content="Austin, TX, United States")
  meta(name="geo.region" content="us-tx")

  // Facebook Opengraph
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="CRZer0")
  meta(property="og:description" content="CRZer0 is a Dungeons and Dragons 5E Character sheet WebApp")
  meta(property="og:locale" content="en_US")
  meta(property="og:image" content="http://crzer0.com/content/images/common/avatar.jpg")

  // Twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@CRZer0")
  meta(name="twitter:creator" content="@SeanLoyless")
  meta(name="twitter:title" content="CRZer0")
  meta(name="twitter:description" content="CRZer0 is a Dungeons and Dragons 5E Character sheet WebApp")
  meta(name="twitter:image" content="http://crzer0.com/content/images/common/avatar.jpg")
  
  // Google+
  meta(itemprop="description" content="CRZer0 is a Dungeons and Dragons 5E Character sheet WebApp")

  // iOS
  meta(name="apple-mobile-web-app-title" content="CRZer0")
