header(id="global-header").col-xs-12
  .row
    .logo.col-xs-12.col-md-4.col-lg-6
      h1 CRZer0
    nav.col-md-8.col-lg-6.hidden-xs.hidden-sm(role="navigation")
      ul
        li Nav 1
        li Nav 2
        li Nav 3
